@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

body {
  background-color: rgb(253, 247, 252);
}

audio {
  display: none;
}

.drums {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  height: 10em;
  justify-content: space-between;
  justify-items: center;
  width: 95%;
  font-family: Rubik, sans-serif;
}

.boom {
  background-color: darkolivegreen;
  width: 10%;
  margin: 0.25em 0.25em 0.25em 3em;
  border-radius: 7px;
}

.clap,
.hihat,
.kick,
.openhat,
.ride,
.snare,
.tink,
.tom {
  width: 10%;
  margin: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 7px;
}

.clap {
  background-color: palegreen;
}

.hihat {
  background-color: lightseagreen;
}

.kick {
  background-color: blueviolet;
}

.openhat {
  background-color: goldenrod;
}

.ride {
  background-color: palevioletred;
}

.snare {
  background-color: peru;
}

.tink {
  background-color: yellowgreen;
}

.tom {
  background-color: cornflowerblue;
}
